<div class="calendar-container">
<div class="season-picker">
  <select
    class="season-select"
    [(ngModel)]="selectedSeasonId"
    (ngModelChange)="selectSeason($event)"
  >
    <option value="">Saison en cours</option>
    <option *ngFor="let season of seasons$ | async" [value]="season.id">
      {{ season.Nom }}
    </option>
  </select>
</div>

<ng-container *ngIf="eventsData$ | async as data; else loading">
  <ng-container *ngIf="data.isCurrentSeason">
  <header class="calendar-header">
    <h1>Événements à venir</h1>
  </header>

  <ng-container *ngIf="data.upcoming.length > 0; else noUpcomingEvents">
    <div class="events-list">
      <div class="event-wrapper" *ngFor="let event of data.upcoming">
        <div class="event-item" (click)="toggleDetails(event.id)">
          
          <div class="event-date">
            <span class="event-weekday">{{ event.Date.toDate() | date : 'EEEE' : '' : 'fr-FR' }}</span>
            <span class="event-day">{{ event.Date.toDate() | date : 'd' }}</span>
            <span class="event-month">{{ event.Date.toDate() | date : 'MMMM' : '' : 'fr-FR' }}</span>
          </div>

          <div class="event-details">
            <h3 class="event-name">{{ event.Nom }}</h3>
            <div class="event-meta">
              <span class="event-meta-item">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="16" height="16"><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/></svg>
                {{ event.Participants.length }} / {{ event.Max }}
              </span>
            </div>
          </div>

          <div class="event-action" (click)="$event.stopPropagation()">
            <button *ngIf="isUserRegistered(event)" class="register-button registered" (click)="toggleRegistration(event)" [disabled]="isTogglingRegistration[event.id!]">
              Inscrit ✔
            </button>
            <ng-container *ngIf="!isUserRegistered(event)">
              <button *ngIf="event.Participants.length < event.Max" class="register-button" (click)="toggleRegistration(event)" [disabled]="isTogglingRegistration[event.id!]">
                S'inscrire ({{ isRegistrationFree() ? 'Gratuit' : (event.Prix + ' €') }})
              </button>
              <button *ngIf="event.Participants.length >= event.Max" class="register-button full" disabled>
                Complet
              </button>
            </ng-container>
            <div *ngIf="registrationErrors[event.id!]" class="registration-error">
              {{ registrationErrors[event.id!] }}
            </div>
          </div>
        </div>

        <div class="event-details-view" [@detailExpand]="selectedEventId === event.id ? 'expanded' : 'collapsed'">
          
          <div class="event-info-row">
            <div class="event-time-detail">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="16" height="16"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path><path d="M13 7h-2v5.414l3.293 3.293 1.414-1.414L13 11.586z"></path></svg>
              <span>{{ event.Date.toDate() | date : 'HH:mm' }}</span>
            </div>
            <div class="event-location">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="16" height="16"><path d="M12 2C7.589 2 4 5.589 4 10c0 4.411 8 12 8 12s8-7.589 8-12c0-4.411-3.589-8-8-8zm0 12c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4z"></path></svg>
              <span>{{ event.Lieu }}</span>
            </div>
          </div>

          <p class="event-description">{{ event.Description }}</p>

          <h4 class="participants-title">Participants</h4>
          <ul class="participants-list" *ngIf="event.ParticipantNames.length > 0; else noParticipants">
            <li *ngFor="let name of event.ParticipantNames">{{ name }}</li>
          </ul>
          <ng-template #noParticipants>
            <p class="no-participants-text">Personne n'est encore inscrit.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-container>
  </ng-container>

  <header class="calendar-header past-header">
    <h1 *ngIf="data.isCurrentSeason">Événements passés</h1>
    <h1 *ngIf="!data.isCurrentSeason">Jeux de la {{ data.seasonName }}</h1>
  </header>

  <ng-container *ngIf="data.past.length > 0; else noPastEvents">
    <div class="events-list past-events">
      <div class="event-item past-item" *ngFor="let event of data.past">
        
        <div class="event-date">
          <span class="event-weekday">{{ event.Date.toDate() | date : 'EEEE' : '' : 'fr-FR' }}</span>
          <span class="event-day">{{ event.Date.toDate() | date : 'd' }}</span>
          <span class="event-month">{{ event.Date.toDate() | date : 'MMMM' : '' : 'fr-FR' }}</span>
        </div>

        <div class="event-details">
          <h3 class="event-name">{{ event.Nom }}</h3>
          <div class="event-winners" *ngIf="event.WinnerNames && event.WinnerNames.length > 0">
            <svg class="winner-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="16" height="16"><path d="M19 5h-2V3H7v2H5c-1.1 0-2 .9-2 2v1c0 2.55 1.92 4.63 4.39 4.94.63 1.5 1.98 2.63 3.61 2.96V19H7v2h10v-2h-4v-3.1c1.63-.33 2.98-1.46 3.61-2.96C19.08 12.63 21 10.55 21 8V7c0-1.1-.9-2-2-2zM5 8V7h2v3.82C5.84 10.4 5 9.25 5 8zm14 0c0 1.25-.84 2.4-2 2.82V7h2v1z"></path></svg>
            <span>{{ event.WinnerNames.join(', ') }}</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <p class="info-text">Chargement des événements...</p>
</ng-template>
<ng-template #noUpcomingEvents>
  <p class="info-text">Aucun événement prévu pour le moment.</p>
</ng-template>
<ng-template #noPastEvents>
  <p class="info-text">Aucun événement passé à afficher.</p>
</ng-template>
</div>